
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;

    
        h2{
         display: flex;
         align-items: center;
         justify-content: center;
                
        }
        div.row{
            display: flex;
            align-items: center;
            justify-content: center;
                div.column{
                    img{
                        width: 100px;
                        height: 100px; 
                        border-radius: 50%;
                        background-position: center;
                        background-size: cover;
                        margin-left: 50px;
                    }
                }
        }

       
}
    